.card-category {
  position: relative;
}

.card-category img {
  width: 100%;
  aspect-ratio: 16 / 10; /* mais largo que alto */
  object-fit: cover; /* corta sem distorcer */
}

.card-category .content {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 20px;
}

.card-category .content .title {
  font-size: 24px;
  font-weight: 700;
}

.card-category .content .sub-title {
  font-size: 16px;
  margin: 16px 0;
}

.card-category .content .button {
  background-color: white;
  color: #35775d;
  padding: 8px 20px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}
