.card {
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.card-padding {
  padding: 16px;
}

.card-extra-rounded {
  border-radius: 24px;
}

.card-experience-content {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
}

.card-experience-content .card-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 15px;
  line-height: 1.2;
}

.card-experience-content img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-experience-content h3 {
  font-size: 18px;
  font-weight: bold;
}

.card-experience-content p {
  margin: 0;
  font-size: 14px;
  color: grey;
}

.card-experience-content .time {
  font-size: 14px;
  color: grey;
  width: 100%;
  display: block;
}

.card-experience-content .info {
  display: flex;
  gap: 2px;
  align-items: center;
}

.card-experience-content .info span {
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
}

.card-experience-content .info svg {
  width: 16px;
  fill: rgb(201, 123, 74) !important;
}

.card-experience-content .price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  margin: 10px;
  padding: 4px 10px;
  border-radius: 25px;
  background-color: #ffffffe6;
  color: #c97b4a;
}

.card-simple {
  background: white;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
}

.card-simple.card-simple-condense {
  padding: 16px;
}
