.card-category{
    position: relative;
}

.card-category img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.card-category .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 20px;
}

.card-category .content .title{
    font-size: 24px;
    font-weight: 700
}

.card-category .content .sub-title{
    font-size: 16px;
    margin: 16px 0;
}

.card-category .content .button{
    background-color: white;
    color: green;
    padding:  8px 20px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
}
