.experience-header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.experience-header-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .experience-header-content {
    grid-template-columns: 1fr;
  }
  .experience-header-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.experience-info-summary {
  overflow: visible;
}

.experience-info-summary .title {
  text-transform: uppercase;
  font-size: 12px;
}
.experience-info-summary .info {
  font-size: 20px;
  color: #0a3d2c;
  font-weight: 600;
}
.experience-info-summary .info.important {
  color: #c97b4a;
}
