.footer{
    background-color: #0a3d2c;
    padding: 40px 20px;
    margin-top: 40px;
    color:#ffffffb3;
}

.footer-content{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-size: 14px;

}

.footer-content .title{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-content a{
    display: block;
    margin-bottom: 10px;
}

.footer-content .select{
    border: 1px solid #ffffff33;
    background-color: #ffffff1a;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
    display: block;
    margin: 10px 0;
}


@media (max-width:768px) {
    .footer-content{
        display: flex;
        flex-direction: column;
    }
}


.footer-message{
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ffffff33;
    margin-top: 20px;
}