body{
    color: #0a3d2c;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Arial, sans-serif;
}

.header{
    background-color: #35775D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 40px;
}

.header h1{
    font-size: 60px;
    font-weight: bold;
}


.header p{
    margin: 30px 0;
    max-width: 600px;
    font-size: 20px;
}

.box-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: rgb(255, 255, 255);
    height: 60px;
    max-width: 600px;
    width: 100%;
    border-radius: 30px;
    gap:10px;
    padding: 0 16px;
}

.box-input input{
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
    flex-grow: 1;
}

.box-input button{
    background-color: #35775D;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 36px;
    }
    .header{
        padding: 80px 40px;
    }
}

.header-options{
    display: flex;
    justify-content: center;
    padding: 0 10px;
    gap: 20px;
    margin-top: -40px;
    flex-wrap:wrap;
}

.box{
    font-weight: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 140px;
    text-align: center;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2d7a5f1a;
    color: #2D7A5F;
}



