body{
    color: #0a3d2c;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}

.header{
    background-color: #35775D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 40px;
}

.header h1{
    font-size: 60px;
    font-weight: bold;
}


.header p{
    margin: 30px 0;
    max-width: 600px;
    font-size: 20px;
}

.box-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 60px;
    max-width: 600px;
    width: 100%;
    border-radius: 30px;
    gap:10px;
    padding: 0 16px;
}

.box-input input{
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
    flex-grow: 1;
}

.box-input button{
    background-color: #35775D;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 36px;
    }
    .header{
        padding: 80px 40px;
    }
}

.header-options{
    display: flex;
    justify-content: center;
    padding: 0 10px;
    gap: 20px;
    margin-top: -40px;
    flex-wrap:wrap;
}


.box{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 140px;
    text-align: center;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2d7a5f1a;
    color: #2D7A5F;
}

@media (max-width:768px) {
    .header-options{
        flex-direction: column;
    }

    .box{
        width: 100%;
    }
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    gap: 24px;
}

.row{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.row h2{
    font-size: 30px;
    font-weight: 700;
    font-weight: bold;
}

.row p{
    margin-top: 8px;
}

.row .view-all{
    color: #35775D;
    cursor: pointer;
    font-weight: bold;
    text-align: right;
}

.card-text{
    display: flex;          
    flex-direction: column;  
    gap: 10px;               
    padding: 5px 15px;
    margin-top: 18px;
    line-height: 1.2;
}

.card1 {
    font-weight: 600;
    width: 370px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    overflow: hidden;
}

.card1 img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card1 h3 {
    font-size: 18px;
    font-weight: bold;
}

.card1 p {
    margin:0;
    font-size: 14px;
    color: grey; 
}

.card1 span {
    font-size: 14px;
    color: grey;
    width: 100%;
    display: block;
}

.card2 {
    font-weight: 600;
    width: 370px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    overflow: hidden;
}

.card2 img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card2 h3 {
    margin-left: 20px;
    margin-top: 18px;
    font-size: 18px;
    font-weight: bold;
}

.card2 p {
    margin-left: 20px;
    margin-top: 18px;
    font-size: 14px;
    color: grey;
    
}

.card2 span {
    
    margin: 18px;
    font-size: 14px;
    color: grey;
    width: 100%;
    display: block;
    margin-left: 20px;
}

.info {
    display: flex;       /* organiza os spans em linha */
    gap: 2px;            /* espaço mínimo entre eles */
    align-items: center; /* alinha verticalmente no meio */
}

.info span {
    margin: 0;           /* remove margens padrão */
    padding: 0;          /* remove padding interno */
    line-height: 1;      /* evita altura extra que cria espaço */
    display: inline-block; /* garante que cada span se comporte como bloco em linha */
}