.header{
    background-color: #35775D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 40px;
}

.header h1{
    font-size: 60px;
    font-weight: bold;
}

.header p{
    margin: 30px 0;
    max-width: 600px;
    font-size: 20px;
}

.box-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: rgb(255, 255, 255);
    height: 60px;
    max-width: 600px;
    width: 100%;
    border-radius: 30px;
    gap:10px;
    padding: 0 16px;
}

.box-input input{
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
    flex-grow: 1;
}

.box-input button{
    background-color: #35775D;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    cursor: pointer;
}

