/* CSS carregado com sucesso! */
.row{
    background-color: rgb(0, 91, 5);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 20px;

}

summary {
    list-style: none; /* remove o marcador em navegadores que usam list-style */
    cursor: pointer;
}

